# dependencies
server/node_modules/
web/node_modules/
mobile/node_modules/
*.pnp
*.pnp.js

# production
web/build
mobile/web-build
mobile/web-report
web/build
server/build

# testing
/coverage

#database
*.sqlite

*/yarn.lock
server/src/.env

yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


*.expo*
*package-lock.*
server/.env
